In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

In [4]:
# Reading Data

df = pd.read_csv(r'C:\Users\shaur\OneDrive\Desktop\Scaler\Data Cleaning\NFL Play by Play 2009-2017 (v4).csv',low_memory=False)

In [5]:
np.random.seed(0)

In [6]:
df.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [7]:
print(df['Date'].head())

0    2009-09-10
1    2009-09-10
2    2009-09-10
3    2009-09-10
4    2009-09-10
Name: Date, dtype: object

In [8]:
# The datatype here is Object

In [9]:
df['Date'].dtype

dtype('O')

## Converting Date Column to DateTime

In [12]:
# Creating a new column 'Date_Parsed' with Parsed Dates

df['Parsed_Dates'] = pd.to_datetime(df['Date'],format = "%Y-%m-%d")

In [17]:
df.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season,Parsed_Dates
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009,2009-09-10
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009,2009-09-10
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009,2009-09-10
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009,2009-09-10
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009,2009-09-10

In [21]:
df['Parsed_Dates'].head()

0   2009-09-10
1   2009-09-10
2   2009-09-10
3   2009-09-10
4   2009-09-10
Name: Parsed_Dates, dtype: datetime64[ns]